body{
  background-image: url(./assets/admin.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100vw 100vh;
  font-style: 'roboto sans-serif';
}
.landing{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-evenly;
}
.landingTitle{
  font-size: 35px;
  color: white;
}
.landingbutton{
  padding: 20px;
  background-color: yellow;
  cursor: pointer;
  width: 300px;
  border-radius: 20px;
  border: 10px solid #ff631c;
  font-size: 35px;
  font-weight: 800;
  color: #ff631c;
  transition: all 0.5s;
}
.landingbutton:hover{
  background-color: #ff631c;
  color: white;
  transform: scale(1.025);
}

@media screen and (max-width:'500px'){
  .landing{
    flex-direction: column;
    display: none;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

